* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {    
    background-color: #F6F6EF;
  }
  
  nav {
    align-items: center;
    display: flex;
    background-color: rgb(255, 116, 43);
    padding: .5rem;
  }
  
  .logo {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  .logo-name {
    font-size: 1.1rem;
  }
  
  .searchBar {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex: 7;
    height: 3rem;
    margin: 0 1rem;
  }
  
  input[type='search'] {
    font-size: 1.1rem;
    outline: none;
    border: none;
    flex: 6;
    height: 100%;
  }
  
  .searchBar i {
    padding: .5rem;
    font-size: 2rem;
    color: #ff742b;
  }
  
  .setting {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .setting > img{
    width: 1.7rem;
    height: 1.7rem;
    margin: .25rem;
  }
  
  .algolia-div {
    color: #ccc;
    align-items: center;
    display: flex;
  }
  
  .algolia-image {
    padding: .5rem 1rem;
    width: 6rem;
    height: 6rem;
  }

  @media (max-width: 768px) {
    nav{
      width: 100%;
    }
    .searched-by,
    .logo-name,
    .algolia-div,
    .setting-label {
      display: none;
    }
  }