.news{
    padding: .5rem .8rem;
  }
  
  .url{
    word-wrap: break-word;
    text-decoration: none;
    margin-left: .5rem;
    font-size: .8rem;
    color:#444;
  }
  
  .title{
    text-decoration: none;
    color: black;
  }

  .news-reaction a{
    color:#444;
    font-size: .7rem;
  }
  .url:hover,.news-reaction a:hover{
    text-decoration: underline;
    text-decoration-color:#444;
  }