.row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-by {
    padding: .5rem;
    display: flex;
    align-items: center;
}

select {
    background-color: transparent;
    border-radius: .15rem;
    margin: .3rem;
    padding: .15rem;
    color: #555;
    outline: none;
    position: relative;
}

.result-count {
    font-size: .85rem;
    margin: 0 .6rem;
}

.response-details {
    display: flex;
    align-items: center;
    padding: .5rem;
}

img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .5rem;
}

@media (max-width: 768px){
    .label,
    .response-details {
        display: none;
    }
    .row-two{
        width: 100%;
    }
    .sort-by{
        margin-left: auto;
        align-self: flex-end;
    }
}

@media (max-width: 500px){
    .sort-by{
        box-sizing: border-box;
        width: 100%;
        display: block;
        justify-content: center;
    }
    select{
        width: 100%;
    }
}